@font-face {
    font-family: "RobotoMedium";
    src: url("./../assets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("./../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandMedium";
    src: url("./../assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("./../assets/fonts/Quicksand-Bold.ttf") format("truetype");
}
/*  COMMON   */
.title {
    font-family: "RobotoMedium";
    font-size: 10px;
    line-height: 12px;
    color: #3D4F9F;
}
.subtitle {
    font-family: "QuicksandMedium";
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
}
button {
    border: none;
    background-color: transparent;
}
/* PLAN */
.plan {
    min-height: 780px;
    background-image: url(../assets/img/planBg.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    display: flex;
    align-items: center;
}
.plan__title {
    margin-bottom: 25px;
}
.plan__subtitle {
    margin-bottom: 25px;
}
.plan__text {
    font-family: "RobotoRegular";
    font-size: 15px;
    line-height: 29px;
    color: #8D96BD;
    max-width: 380px;
    margin-bottom: 45px;
}
.btn__view {
    width: 130px;
    height: 43px;
    background: #4C85FF;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border-radius: 2px;
    font-family: "QuicksandBold";
    font-size: 13px;
    color: #FFFFFF;
}
.btn__features {
    background-color: transparent;
    border: 1px solid #D1D1E4;
    border-radius: 2px;
    width: 130px;
    height: 43px;
    font-family: "QuicksandMedium";
    font-size: 13px;
    color: #ADB4D2;
}
/* ABOUT  */
.about {
    min-height: 885px;
    display: flex;
    align-items: center;
    background-image: url(../assets/img/aboutcloudsleft.png), url(../assets/img/aboutcloudsright.png);
    background-repeat: no-repeat;
    background-position: left, right top ;

}
.about__top {
    margin-bottom: 90px;
}
.items {
    margin-bottom: 90px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 60px;
    padding: 0;
}
.item:last-child {
    margin-right: 0;
}
.image {
    text-align: center;
    height: 69px;
    width: 69px;
}
.item__title {
    font-family: "QuicksandBold";
    font-size: 14px;
    color: #4074F8;
    margin-top: 35px;
    margin-bottom: 25px;
}
.item__text {
    max-width: 190px;
    min-height: 100px;
    font-family: "QuicksandMedium";
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
    
}
.btn__more, .btn__start {
    width: 113px;
    min-height: 43px;
}
.btn__more {
    font-size: 13px;
    line-height: 16px;
    color: #D43F3F;
    border: none;
    background: #FFD7D7;
    border-radius: 2px;
    margin-right: 50px;
    position: relative;
}
.btn__more::before {
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 135%;
    transform: translate(0%, -50%);
    color: #ADB3CB;
    font-size: 11px;
    font-family: "QuicksandMedium";
}
.btn__start {
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
    background: #D2E1FF;
    border: none;
    border-radius: 2px;
    margin-left: 50px;
}
/* STATS */
.stats {
    min-height: 340px;
    display: flex;
    align-items: stretch;
}
.stats__box {
}
.productivity {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 90px 0 0;
}
    .productivity__num {
        font-family: "RobotoRegular";
        font-size: 48px;
        line-height: 83px;
        color: #FFFFFF;
    }
    .productivity__text {
        font-family: "RobotoMedium";
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        max-width: 260px;
        text-align: right;
    }
.users {
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 90px;
}
    .users__num {
        color: #5E80FF;
        font-size: 48px;
        line-height: 83px;
    }
    .users__text {
        color: #5E80FF;
        font-size: 18px;
        line-height: 23px;
        max-width: 260px;
    }
.stats__items {
    min-height: 100%;
}
/* OURBLOG */
.ourBlog {
    min-height: 865px;
    background-color: #F5F8FF;
    display: flex;
    align-items: center;
}
.ourBlog__top {
    margin-bottom: 90px;
}

.slider__box {
    padding: 65px 40px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 15px 50px #EFF4FF;
}
.blog {
    background: #FFFFFF;
}

.img__wrap {
    display: flex;
    margin-right: 60px;
}
    .blog__img1 {
        border-radius: 5px;
}
    .small__img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
    .blog__img2 {
        border-radius: 5px;
    }
    .blog__img3 {
        border-radius: 5px;
    }

    .text__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .blog__title {
            font-family: "RobotoRegular";
            font-size: 36px;
            line-height: 45px;
            color: #3D4F9F;
        }
        .blog__text {
            font-family: "RobotoRegular";
            font-size: 14px;
            line-height: 27px;
            color: #8D96BD;
            max-width: 400px;
        }
        .blog__btn-read {
            width: 115px;
            height: 45px;
            background-color: #D2E1FF;
            border-radius: 2px;
            color: #3A79FF;
            font-family: "QuicksandBold";
            font-size: 13px;
            margin-right: 25px;
        }
        .blog__btn-add {
            color: #A6B6DA;
            font-size: 13px;
            font-family: "QuicksandBold";
        }
        .nextArrow {
            background-image: url(../assets/img/arrowRightBlue.svg);
        }
        .prevArrow {
            background-image: url(../assets/img/arrowLeftBlue.svg);
        }
        .position-left {
            left: -150px;
        }
        .position-right {
            right: -150px;
        }
        .position-carousel {
            bottom: -100px;
        }
        .carousel-indicators li {
            background-color: #5283FF;
            width: 8px;
            height: 8px;
            border-radius: 50%;
}
/* FEEDBACK */
.feedback {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    min-height: 480px;
    display: flex;
    align-items: center;
}
    .feedItem {
        max-width: 425px;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 50px #F3F5FA;
        padding: 40px 70px 50px 70px;
        position: relative;
    }
    .feedText {
        font-family: "RobotoRegular";
        font-size: 14px;
        color: #676F95;
        line-height: 24px;
        max-width: 270px;
    }
    .avatarFeed {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80%;
    }
    .itemHeight {
        min-height: 240px;
    }
    .pagination-bottom {
        bottom: -50px;
    }
/* QUESTIONS  */
/* START */
    .start {
        min-height: 445px;
        background: no-repeat url(../assets/img/startNowBg.png), linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        display: flex;
        align-items: center;
    }
    .start__title {
        color: #FFFFFF;
    }
    .start__subtitle {
        color: #FFFFFF;
        margin: 25px 0;
    }
    .start__text {
        font-family: "RobotoRegular";
        font-size: 15px;
        line-height: 29px;
        color: #FFFFFF;
        max-width: 710px;
        margin-bottom: 50px;
    }
    .start__button-price {
        font-size: 13px;
        color: #565F82;
        width: 138px;
        font-family: "QuicksandBold";
        width: 130px;
        min-height: 45px;
    }
    .start__button-doc {
        font-size: 13px;
        color: #C7D3FF;
        width: 138px;
        font-family: "QuicksandBold";
        width: 165px;
        min-height: 45px;
    }   
/* NEWS */
.news {
    background: #FCFDFF;
    min-height: 330px;
    display: flex;
    align-items: center;
}
.news__title {
    font-size: 18px;
    line-height: 22px;
    font-family: "QuicksandBold";
    color: #3D4F9F;
    margin-bottom: 20px;
}
.news__text {
    color: #8D96BD;
    font-size: 14px;
    line-height: 27px;
    max-width: 330px;
    font-family: "RobotoRegular";
}
.styleForm {
    width: 279px;
    height: 59px;
    background: #EFEFF7;
    border-radius: 5px;
    font-size: 13px;
    color: #7A85AD;
    font-family: "QuicksandBold";
    padding-right: 100px;
}
.styleBtn {
    width: 184px;
    height: 59px;
    background: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    font-size: 13px;
    font-family: "QuicksandBold";
}
/* FOOTER */
.footer {
    padding: 100px 0;
    background: #FFFFFF;
}
.styleFooter {
    display: flex;
    align-items: center;
}
.logo {
    width: 26px;
    height: 26px;
    background: #5E81FE;
    border-radius: 50%;
}
.footer__list {
    display: flex;
    margin: 0;
}
.footer__list li {
    margin: 0 40px 0 0;
    list-style: none;
}
.footer__list a {
    color: #697CA6;
    font-size: 12px;
    font-family: "QuicksandMedium";
}
.footer__list li:last-child {
    margin-right: 0;
}
.footer__social {
    display: flex;
    align-items: center;
}
.footer__img {
    margin-right: 30px;
}
.footer__img:last-child {
    margin-right: 40px;
}
.footer__btn {
    background: #D2E1FF;
    border-radius: 2px;
    color: #3A79FF;
    font-size: 13px;
    font-family: "QuicksandBold";
    border: none;
    padding: 13px 16px;
}
.styleRights {
    margin-top: 40px;
    color: #AEB8D0;
    font-size: 12px;
    font-family: "QuicksandMedium";
}